[BOX]
height: 800
width: 1200

[BALL]
xCoordinate: 10
yCoordinate: 500
radius: 8
xVelocity: 10.0
yVelocity: -10.0

# Bricks csv format is:
# <name>: <x>, <y>, <width>, <height>, <color>, [SLD, INV]
# things inside the square brackets are optional
[BRICKS]
brick1: 500, 20, 70, 20, 10, #3366FF
brick2: 0, 130, 70, 12, 10, #66FF33
brick3: 200, 400, 150, 20, 3, #FF3366, SLD
brick4: 50, 450, 70, 20, 2, #FD3366
brick5: 150, 460, 70, 120, 3, #FE3366, INV
brick6: 250, 470, 70, 20, 3, #E66000
brick7: 350, 480, 70, 20, 5, #000000, SLD, INV
brick8: 450, 500, 70, 20, 1, #343213
brick9: 400, 500, 70, 20, 1, #FFFFFF
brick10: 500, 500, 70, 20, 1, #FFFFFF
brick11: 450, 521, 70, 20, 2, #FFFFFF
brick12: 450, 515, 70, 20, 1, #FFFFFF

[GENERATOR]
# on or off
# if on, then the user define bricks will be ignored and it will create random bricks instead
brickGen: on
